body{
    font-family: Georgia, 'Times New Roman', Times, serif;    
    color: 333;
    font-size: 1.03rem;
    line-height: 1.5em;
    margin: 0;
    background: rgba(4, 0, 255, 0.521);
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.header{
    background: #333;
    color: white; 
    padding: 1rem;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    letter-spacing: 5px;
}
.navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.navegation ul li{
    display: inline-block;
}

.navegation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navegation ul li a:hover{
    background: #6b6b6b;

}

.main{
    padding-top: 10rem;
}

.footer{
    background: #a0a0a0;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6em;
}

.inter li b a{
    text-decoration: none;
    color: rgb(4, 0, 255);
}